<% if post.comments.length != 0 %>
  <h5 class="mt-4">Comments</h5>
<% end %>
<% post.comments.each do |comment| %>
  <div class="card-body bg-white">
    <div >
      <p><strong><%= comment.user.username %></strong>: <%= comment.comment %> -- <%= time_ago_in_words comment.created_at %> ago &nbsp
      <%= render partial: "posts/comment_like_button_and_counter", locals: { comment: comment } %>
      <% if comment.user_id == current_user.id %>
        <% if comment.comment_time_limit %>
          <%= render partial: "posts/comment_buttons_within_time_limit", locals: { comment: comment } %> 
        <% else %>
          <button type="button" class="btn btn-primary btn-sm edit-comment-btn" onclick="return alert('You can only edit posts within the first 10 minutes')">Edit comment</button> 
        <% end %>
          <%= link_to 'Delete comment', {controller: "comments", action: "destroy", id: comment.id}, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-sm" %>
      <% else %>
        <%= render partial: "posts/comment_buttons_not_within_time_limit"%>
      <% end %>
    </div>
  </div>
<% end %>
